<p-toast position="top-right"></p-toast>


<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">

  <!-- sidebar -->

  <app-sidebar-admin></app-sidebar-admin>


  <!-- sidebar -->
  <div class="flex-lg-1 h-screen overflow-y-lg-auto">

    <!-- header -->

    <app-header-admin></app-header-admin>


    <!-- header -->
    <h1 class="m-5">
      Properties
    </h1>

    <!-- <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProperty()"
          [disabled]="!selectedProducts || !selectedProducts.length"></button>
      </ng-template>

      <ng-template pTemplate="right">
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
          class="mr-2 inline-block"></p-fileUpload>
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
      </ng-template>
    </p-toolbar> -->

    <p-table #dt [value]="properties" [rows]="10" [paginator]="true" [loading]="loading"
      [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
      [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Manage Properties</h5>
          <!-- <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Search..." />
          </span> -->
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="title" style="min-width:10rem">Title <p-sortIcon field="title"></p-sortIcon></th>
          <th pSortableColumn="title">Image <p-sortIcon field="image"></p-sortIcon></th>
          <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
          <th pSortableColumn="location">Location <p-sortIcon field="location"></p-sortIcon></th>
          <th pSortableColumn="town">Town <p-sortIcon field="town"></p-sortIcon></th>
          <th pSortableColumn="region">Region <p-sortIcon field="region"></p-sortIcon></th>
          <th pSortableColumn="surfaceArea">Surface Area <p-sortIcon field="surfaceArea"></p-sortIcon></th>
          <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
          <th pSortableColumn="isFeatured">IsFeatured <p-sortIcon field="isFeatured"></p-sortIcon></th>
          <th pSortableColumn="lastUpdate">Last Update <p-sortIcon field="lastUpdate"></p-sortIcon></th>
          <th pSortableColumn="lastUpdate">Actions<p-sortIcon field="lastUpdate"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-properties>
        <tr>
          <td>
            <p-tableCheckbox [value]="properties"></p-tableCheckbox>
          </td>
          <td>{{ properties.title }}</td>
          <td><img
              [src]=" properties.image1  ? 'http://localhost:3000/static/'+properties.image1 : 'http://localhost:3000/static/default.jpg'"
              alt="image property" width="50" class="shadow-4" /></td>
          <td>{{ properties.type }}</td>
          <td>{{ properties.location }}</td>
          <td>{{ properties.town }}</td>
          <td>{{ properties.region }}</td>
          <td>{{ properties.surfaceArea }}</td>
          <td>{{ properties.price }}</td>
          <td>{{ properties.status }}</td>
          <td>{{ properties.isFeatured }}</td>
          <td>{{ properties.lastUpdate }}</td>

          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
              (click)="editProperty(properties)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="deleteProperty(properties)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">In total there are {{ properties ?
          properties.length :
          0 }} Users.</div>
      </ng-template>
    </p-table>

    <p-dialog [(visible)]="propertyDialog" [style]="{ width: '1000px' }" header="Product Details" [modal]="true"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
            <div class="field" [style]="{ diplay: 'flex', justifyContent: 'space-between'}">
              <img *ngFor="let image of imageProperties" [style]="{ width: '100px'}"
              [src]=" image ? 'http://localhost:3000/static/'+image: 'http://localhost:3000/static/default.jpg'" />
            </div>
        <div class="field">
          <label for="name">Title</label>
          <input type="text" pInputText id="title" [(ngModel)]="property.title" required autofocus />
          <small class="p-error" *ngIf="submitted && !property.title">Name is required.</small>
        </div>

        <div class="field">
          <label for="description">Description</label>
          <textarea id="description" pInputTextarea [(ngModel)]="property.description" required rows="3"
            cols="20"></textarea>
        </div>

        <div class="field">
          <label for="conditions">Conditions</label>
          <input type="text" pInputText id="conditions" [(ngModel)]="property.conditions" required autofocus />

        </div>

        <div class="field">
          <label for="inventoryStatus">Type</label>
          <p-dropdown [(ngModel)]="property.type" inputId="inventoryStatus" [options]="statuses">
            <ng-template pTemplate="selectedItem">
              <p-tag [value]="property.type"></p-tag>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <p-tag [value]="option.label"></p-tag>
            </ng-template>
          </p-dropdown>
        </div>

        <div class="field">
          <label for="name">Number of Living Room</label>
          <input type="number" pInputText id="livingroom" [(ngModel)]="property.livingroom" required autofocus />
          <small class="p-error" *ngIf="submitted && !property.livingroom">livingroom is required.</small>
        </div>

        <div class="field">
          <label for="name">Surface Area</label>
          <input type="text" pInputText id="surfaceArea" [(ngModel)]="property.surfaceArea" required autofocus />
          <small class="p-error" *ngIf="submitted && !property.surfaceArea">surfaceArea is required.</small>
        </div>

        <div class="field">
          <label for="name">Number of Bed</label>
          <input type="number" pInputText id="bed" [(ngModel)]="property.bed" required autofocus />
          <small class="p-error" *ngIf="submitted && !property.bed">bed is required.</small>
        </div>

        <div class="field">
          <label for="name">Price</label>
          <input type="number" pInputText id="price" [(ngModel)]="property.price" required autofocus />
          <small class="p-error" *ngIf="submitted && !property.price">price is required.</small>
        </div>

        <div class="field">
          <label for="name">Location</label>
          <input type="text" pInputText id="location" [(ngModel)]="property.location" required autofocus />
          <small class="p-error" *ngIf="submitted && !property.location">location is required.</small>
        </div>

        <div class="field">
          <label for="name">Town</label>
          <input type="text" pInputText id="town" [(ngModel)]="property.town" required autofocus />
          <small class="p-error" *ngIf="submitted && !property.town">town is required.</small>
        </div>

        <div class="field">
          <label for="region">Region</label>
          <p-dropdown [(ngModel)]="property.region" inputId="region" [options]="regions">
            <!-- <ng-template pTemplate="selectedItem">
              <p-tag [value]="property.region">Center</p-tag>
            </ng-template> -->
            <!-- <ng-template let-option pTemplate="item">
              <p-tag value="south">South</p-tag>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <p-tag value="south-west">South-west</p-tag>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <p-tag value="east">East</p-tag>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <p-tag value="north-west">North-west</p-tag>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <p-tag value="adamawa">Adamawa</p-tag>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <p-tag value="west">West</p-tag>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <p-tag value="litoral">Litoral</p-tag>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <p-tag value="far-north">Far-north</p-tag>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <p-tag value="north">North</p-tag>
            </ng-template> -->


            <ng-template pTemplate="selectedItem">
              <p-tag [value]="property.region"></p-tag>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <p-tag [value]="option.label"></p-tag>
            </ng-template>
          </p-dropdown>

          <!--
          <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*"></p-fileUpload>
          <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*"></p-fileUpload>
          <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*"></p-fileUpload>
          <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*"></p-fileUpload>

 -->

        </div>





      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" [disabled]="loadingupdate" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" loadingIcon="pi pi-spin pi-spinner" [loading]="loadingupdate" [disabled]="loadingupdate" class="p-button-text" (click)="saveProperty()"></button>
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>



  </div>
</div>
